main{
    min-height: 80vh;
}

h1{ /*pentru h1 SHOPPING CART din pagina cart*/
    font-size: 1.8rem;
    padding:1rem 0;

}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
    
}

h3{
    padding:1rem 0;
}

.rating span{
    margin:0.1rem;
}

.btn-block{
    color:red;
}

.custom-btn {
    width: 100%;
  }

.custom-btn-submit{
    margin-top: 15px;
}

form.d-flex {
    display: flex;
    align-items: center;
  }

form.d-flex input[type=text] {

    padding: 10px;
    height:10%;
  }

form.d-flex button {
    float: left;
    width: 20%;
    padding: 10px;
    background: hsl(206, 7%, 42%);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

    height:41px;
  }
  
  form.d-flex button:hover {
    background: rgb(34, 36, 37);
  }
  
  form.d-flex::after {
    content: "";
    clear: both;
    display: table;
  }


  
  
  
  


